body{
    margin: 0;
    padding: 0;
    background: url(images/mainbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*...for 425px and below screens... */

/* header */
header{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1{
    padding: 5px;
    background-color: rgb(255, 255, 255);    color:rgb(0, 0, 0);
    color: rgb(37, 37, 37);
    font-size: 2.1em;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 0 2px 15px 10px rgb(0, 0, 0);
    text-align: center;
    width: min-content;
}
b{
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: cursive;
    font-family: verdana;
    text-shadow: 1px 2px 1px rgb(49, 46, 46);
    letter-spacing: 0;
}

/* common styling */
.macbook, .ipad-mini, .imac, .airpod, .iphone-13, .ipad-pro, .apple-watch{
    height: max-content;
    font-family: sans-serif;
}
.macbook-header, .ipad-mini-header, .imac-header, .airpod-header, .iphone-13-header, .ipad-pro-header, .apple-watch-header{
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
h3{
    text-align: center;
    letter-spacing: 3px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 2px 5px black;
}
h3> button{
    border: none;
    background: inherit;
    color: inherit;
    font-size: inherit;
    text-transform: inherit;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    height: 100%;
}
h3:active{
    transform: scale(0.95);
    box-shadow: 0 2px 10px black;
}
.macbook-txt-box, .ipad-mini-txt-box, .imac-txt-box, .airpod-txt-box, .iphone-13-txt-box, .ipad-pro-txt-box, .apple-watch-txt-box{
    text-align: center;
    height: max-content;
    padding: 10px 20px;
    font-family: sans-serif;
}
h5{
    font-size: 19px;
    text-transform: capitalize;
}
p{
    font-size: 15px;
}


/* macbook pro */
.macbook{
    background: url(images/macbook.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.macbook-header h3{
    background-color: rgb(85, 15, 36);
    color:rgb(20, 20, 20);
    color: silver;
}
.macbook .macbook-txt-box{
    background-color: rgb(119, 80, 92);
    color: white;
}

/* ipad mini 6*/
.ipad-mini{
    background: url(images/ipad-mini-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.ipad-mini-header h3{
    background-color: rgb(27, 26, 22);
    color:rgb(245, 224, 224);
}
.ipad-mini .ipad-mini-txt-box{
    background-color:rgb(59, 59, 59);
    color: rgba(255, 255, 255, 0.8);
}

/* imac */
.imac{
    background: url(images/imac-24.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.imac-header h3{
    background-color: rgb(107, 82, 12);
    color:rgb(255, 255, 255);
}
.imac .imac-txt-box{
    background-color: rgb(158, 128, 47);
    color: rgb(255, 255, 255);
}

/* Airpods 3 */
.airpod{
    background: url(images/airpod-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.airpod-header h3{
    background-color: rgb(139, 106, 13);
    color:rgb(255, 255, 255);
}
.airpod .airpod-txt-box{
    background-color: rgb(70 46 5);
    color: rgb(158, 128, 47);
    color: rgb(255, 255, 255);
}

/*iphone 13 */
.iphone-13{
    background: url(images/iphone-13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
.iphone-13-header h3{   
    background-color: silver;
    color:rgb(0, 0, 0);
}
.iphone-13 .iphone-13-txt-box{
    background-color: rgb(48 85 114);
    color: rgb(193 153 149);
}

/*ipad pro */
.ipad-pro{
    background: url(images/ipad-pro.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
.ipad-pro-header h3{   
    background-color: rgb(35 119 238);
    color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.ipad-pro .ipad-pro-txt-box{
    background-color: rgb(114, 48, 108);
    color: rgb(255, 255, 255);
}

.apple-watch{
    background: url(images/apple-watch-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.apple-watch-header h3{    
    background-color: aliceblue;
    color:rgb(0, 0, 0);
}
.apple-watch .apple-watch-txt-box{
    background-color: rgb(120 49 5);
    color: aliceblue;
}

.image-container{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(209, 207, 207, 0.95);
}
.image-container > img{
    min-width: 350px;
    min-height: max-content;
}
.close-btn{
    border: none;
    background: white;
    color: brown;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    height: max-content;
    width: max-content;
    font-weight: bolder;
    padding: 7px 12px;
}


/* footer */
/* .footer{
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.footer p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(14, 54, 165);
    padding: 5px;
    font-size: 1.5em;
    letter-spacing: 8px;
    font-weight: bold;
    color:rgb(192, 204, 21);
    font-family: 'Courier New', Courier, monospace;
} */



/* for larger screen */
/* @media screen and (min-width:426px) {
    body{
        font-size: 4em;
    }
} */